#skills{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding:5% 10% 0% 10%;
}
.skills-head{
    /* color: var(--text); */
    height: 50px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 7vw;
    padding-bottom: 20px;
    /* background-color: var(--bgcolor); */
}
.skill-content{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--bgcolor);
}

.progress-content{
    width: 45%;
}
.progress-content>p{
    width: 70%;
    color: var(--text);
    font-size: 1vw;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

}
.progress-content>p>span:first-child{
    font-size: 2vw;
}
.progress-content>progress{
    width: 70%;
    margin-bottom: 10px;
}
@media (max-width:980px){
    #skills{
        min-height: auto;
    }
    .progress-content , .progress-content>p,.progress-content>progress{
        font-size: 3.4vw;
        width: 100%;
    }
}